[Desktop Entry]
Type=Application
Exec=/home/alex/.local/my_scripts/sink-audio/combined-sink.sh
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name=Audio Combined Sink
